<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <!-- 조건부 렌더링 -->
      <input type="text" v-model="enteredGoalValue"/>
      <button @click="addGoal">Add Goal</button>
      <!-- v-if는 DOM에 추가 및 제거 , show는 css를 통해 숨기거나 표시 -->
       <!-- show를 사용하면 성능에 영향을 주지 않음. -->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
      <!-- <ul v-if="goals.length > 0"> -->
        <!-- v-else는 v-if가 잇는 요소의 바로 다음에 오는 요소에 써야함. -->
      <!-- <ul v-else-if="goals.length > 0"> -->
      <ul v-else>
        <!-- li 요소 밖은 접근 불가. -->
        <li v-for="(goal, index) in goals" @click="removeGoal(index)">{{ goal }} - {{ index }}</li>
      </ul>
      <!-- <ul> -->
        <!-- <li v-for="(value, key)  in {name: 'rak', age: 33}">{{ key }}: {{ value }}</li> -->
         <!-- <li v-for="num in 10">{{ num }}</li> -->
      <!-- </ul> -->
    </section>
  </body>
</html>
